<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urt.mapper.DiscontMapper">
  <resultMap id="BaseResultMap" type="com.urt.po.Discont">
    <id column="DISCONT_ID" jdbcType="DECIMAL" property="discontId" />
    <result column="DISCONT_NAME" jdbcType="VARCHAR" property="discontName" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="UPDATEDATE" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="STARTDATE" jdbcType="TIMESTAMP" property="startdate" />
    <result column="ENDDATE" jdbcType="TIMESTAMP" property="enddate" />
    <result column="DISCONT_TYPE" jdbcType="CHAR" property="discontType" />
    <result column="DISCONT_VALUE" jdbcType="DECIMAL" property="discontValue" />
  </resultMap>
  <sql id="Base_Column_List">
    DISCONT_ID, DISCONT_NAME, CREATEDATE, UPDATEDATE, STARTDATE, ENDDATE, DISCONT_TYPE, 
    DISCONT_VALUE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAO_DISCONT
    where DISCONT_ID = #{discontId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from LAO_DISCONT
    where DISCONT_ID = #{discontId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.Discont">
    insert into LAO_DISCONT (DISCONT_ID, DISCONT_NAME, CREATEDATE, 
      UPDATEDATE, STARTDATE, ENDDATE, 
      DISCONT_TYPE, DISCONT_VALUE)
    values (#{discontId,jdbcType=DECIMAL}, #{discontName,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{updatedate,jdbcType=TIMESTAMP}, #{startdate,jdbcType=TIMESTAMP}, #{enddate,jdbcType=TIMESTAMP}, 
      #{discontType,jdbcType=CHAR}, #{discontValue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.Discont">
    insert into LAO_DISCONT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="discontId != null">
        DISCONT_ID,
      </if>
      <if test="discontName != null">
        DISCONT_NAME,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
      <if test="startdate != null">
        STARTDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="discontType != null">
        DISCONT_TYPE,
      </if>
      <if test="discontValue != null">
        DISCONT_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="discontId != null">
        #{discontId,jdbcType=DECIMAL},
      </if>
      <if test="discontName != null">
        #{discontName,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="discontType != null">
        #{discontType,jdbcType=CHAR},
      </if>
      <if test="discontValue != null">
        #{discontValue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.Discont">
    update LAO_DISCONT
    <set>
      <if test="discontName != null">
        DISCONT_NAME = #{discontName,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="startdate != null">
        STARTDATE = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="discontType != null">
        DISCONT_TYPE = #{discontType,jdbcType=CHAR},
      </if>
      <if test="discontValue != null">
        DISCONT_VALUE = #{discontValue,jdbcType=DECIMAL},
      </if>
    </set>
    where DISCONT_ID = #{discontId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.Discont">
    update LAO_DISCONT
    set DISCONT_NAME = #{discontName,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      STARTDATE = #{startdate,jdbcType=TIMESTAMP},
      ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      DISCONT_TYPE = #{discontType,jdbcType=CHAR},
      DISCONT_VALUE = #{discontValue,jdbcType=DECIMAL}
    where DISCONT_ID = #{discontId,jdbcType=DECIMAL}
  </update>
</mapper>