<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.urt.mapper.LaoDMPStrategyEditPoMapper" >
  <resultMap id="BaseResultMap" type="com.urt.po.LaoDMPStrategyEditPo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CHANNELCUST_ID" property="channelcustId" jdbcType="DECIMAL" />
    <result column="TARGITTYPE" property="targittype" jdbcType="VARCHAR" />
    <result column="SCHEME_NAME" property="schemeName" jdbcType="VARCHAR" />
    <result column="SCHEME_COMMENT" property="schemeComment" jdbcType="VARCHAR" />
    <result column="DELFLAG" property="delflag" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CHANNELCUST_ID, TARGITTYPE, SCHEME_NAME, SCHEME_COMMENT, DELFLAG, CREATETIME, 
    UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from LAO_DMPSTRATEGY_EDIT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LAO_DMPSTRATEGY_EDIT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.LaoDMPStrategyEditPo" >
    insert into LAO_DMPSTRATEGY_EDIT (ID, CHANNELCUST_ID, TARGITTYPE, 
      SCHEME_NAME, SCHEME_COMMENT, DELFLAG, 
      CREATETIME, UPDATETIME)
    values (#{id,jdbcType=DECIMAL}, #{channelcustId,jdbcType=DECIMAL}, #{targittype,jdbcType=VARCHAR}, 
      #{schemeName,jdbcType=VARCHAR}, #{schemeComment,jdbcType=VARCHAR}, #{delflag,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.LaoDMPStrategyEditPo" >
    insert into LAO_DMPSTRATEGY_EDIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="channelcustId != null" >
        CHANNELCUST_ID,
      </if>
      <if test="targittype != null" >
        TARGITTYPE,
      </if>
      <if test="schemeName != null" >
        SCHEME_NAME,
      </if>
      <if test="schemeComment != null" >
        SCHEME_COMMENT,
      </if>
      <if test="delflag != null" >
        DELFLAG,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="channelcustId != null" >
        #{channelcustId,jdbcType=DECIMAL},
      </if>
      <if test="targittype != null" >
        #{targittype,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null" >
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="schemeComment != null" >
        #{schemeComment,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.LaoDMPStrategyEditPo" >
    update LAO_DMPSTRATEGY_EDIT
    <set >
      <if test="channelcustId != null" >
        CHANNELCUST_ID = #{channelcustId,jdbcType=DECIMAL},
      </if>
      <if test="targittype != null" >
        TARGITTYPE = #{targittype,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null" >
        SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="schemeComment != null" >
        SCHEME_COMMENT = #{schemeComment,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null" >
        DELFLAG = #{delflag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.LaoDMPStrategyEditPo" >
    update LAO_DMPSTRATEGY_EDIT
    set CHANNELCUST_ID = #{channelcustId,jdbcType=DECIMAL},
      TARGITTYPE = #{targittype,jdbcType=VARCHAR},
      SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      SCHEME_COMMENT = #{schemeComment,jdbcType=VARCHAR},
      DELFLAG = #{delflag,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>