<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urt.mapper.LaoEsimLenovoImeiMapper">
  <resultMap id="BaseResultMap" type="com.urt.po.LaoEsimLenovoImei">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LENOVOID" jdbcType="VARCHAR" property="lenovoid" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LENOVOID, IMEI, CREATEDATE, ENDTIME, FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAO_ESIM_LENOVO_IMEI
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from LAO_ESIM_LENOVO_IMEI
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.LaoEsimLenovoImei">
    insert into LAO_ESIM_LENOVO_IMEI (ID, LENOVOID, IMEI, 
      CREATEDATE, ENDTIME, FLAG
      )
    values (#{id,jdbcType=DECIMAL}, #{lenovoid,jdbcType=VARCHAR}, #{imei,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.LaoEsimLenovoImei">
    insert into LAO_ESIM_LENOVO_IMEI
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="lenovoid != null">
        LENOVOID,
      </if>
      <if test="imei != null">
        IMEI,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="lenovoid != null">
        #{lenovoid,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.LaoEsimLenovoImei">
    update LAO_ESIM_LENOVO_IMEI
    <set>
      <if test="lenovoid != null">
        LENOVOID = #{lenovoid,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        IMEI = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.LaoEsimLenovoImei">
    update LAO_ESIM_LENOVO_IMEI
    set LENOVOID = #{lenovoid,jdbcType=VARCHAR},
      IMEI = #{imei,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      FLAG = #{flag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>