<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.urt.mapper.LaoPoolUseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.urt.po.LaoPoolUseInfo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="EID" property="eid" jdbcType="VARCHAR" />
    <result column="POOL_ID" property="poolId" jdbcType="VARCHAR" />
    <result column="USED_VOLUME" property="usedVolume" jdbcType="DECIMAL" />
    <result column="REMAINING_VOLUME" property="remainingVolume" jdbcType="DECIMAL" />
    <result column="TOTAL_VOLUME" property="totalVolume" jdbcType="DECIMAL" />
    <result column="IN_MONTH" property="inMonth" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF_ID" property="updateStaffId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EID, POOL_ID, USED_VOLUME, REMAINING_VOLUME, TOTAL_VOLUME, IN_MONTH, UPDATE_TIME, 
    UPDATE_STAFF_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from LAO_POOL_USEINFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LAO_POOL_USEINFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.LaoPoolUseInfo" >
    insert into LAO_POOL_USEINFO (ID, EID, POOL_ID, 
      USED_VOLUME, REMAINING_VOLUME, TOTAL_VOLUME, 
      IN_MONTH, UPDATE_TIME, UPDATE_STAFF_ID
      )
    values (#{id,jdbcType=DECIMAL}, #{eid,jdbcType=VARCHAR}, #{poolId,jdbcType=VARCHAR}, 
      #{usedVolume,jdbcType=DECIMAL}, #{remainingVolume,jdbcType=DECIMAL}, #{totalVolume,jdbcType=DECIMAL}, 
      #{inMonth,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}, #{updateStaffId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.LaoPoolUseInfo" >
    insert into LAO_POOL_USEINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="eid != null" >
        EID,
      </if>
      <if test="poolId != null" >
        POOL_ID,
      </if>
      <if test="usedVolume != null" >
        USED_VOLUME,
      </if>
      <if test="remainingVolume != null" >
        REMAINING_VOLUME,
      </if>
      <if test="totalVolume != null" >
        TOTAL_VOLUME,
      </if>
      <if test="inMonth != null" >
        IN_MONTH,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=VARCHAR},
      </if>
      <if test="poolId != null" >
        #{poolId,jdbcType=VARCHAR},
      </if>
      <if test="usedVolume != null" >
        #{usedVolume,jdbcType=DECIMAL},
      </if>
      <if test="remainingVolume != null" >
        #{remainingVolume,jdbcType=DECIMAL},
      </if>
      <if test="totalVolume != null" >
        #{totalVolume,jdbcType=DECIMAL},
      </if>
      <if test="inMonth != null" >
        #{inMonth,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaffId != null" >
        #{updateStaffId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.LaoPoolUseInfo" >
    update LAO_POOL_USEINFO
    <set >
      <if test="eid != null" >
        EID = #{eid,jdbcType=VARCHAR},
      </if>
      <if test="poolId != null" >
        POOL_ID = #{poolId,jdbcType=VARCHAR},
      </if>
      <if test="usedVolume != null" >
        USED_VOLUME = #{usedVolume,jdbcType=DECIMAL},
      </if>
      <if test="remainingVolume != null" >
        REMAINING_VOLUME = #{remainingVolume,jdbcType=DECIMAL},
      </if>
      <if test="totalVolume != null" >
        TOTAL_VOLUME = #{totalVolume,jdbcType=DECIMAL},
      </if>
      <if test="inMonth != null" >
        IN_MONTH = #{inMonth,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID = #{updateStaffId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.LaoPoolUseInfo" >
    update LAO_POOL_USEINFO
    set EID = #{eid,jdbcType=VARCHAR},
      POOL_ID = #{poolId,jdbcType=VARCHAR},
      USED_VOLUME = #{usedVolume,jdbcType=DECIMAL},
      REMAINING_VOLUME = #{remainingVolume,jdbcType=DECIMAL},
      TOTAL_VOLUME = #{totalVolume,jdbcType=DECIMAL},
      IN_MONTH = #{inMonth,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF_ID = #{updateStaffId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>