<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urt.mapper.mno.LaoMnoProvideServerMapper">
  <resultMap id="BaseResultMap" type="com.urt.po.mno.LaoMnoProvideServer">
    <id column="SERVER_ID" jdbcType="DECIMAL" property="serverId" />
    <result column="SERVER_CATEGORY" jdbcType="VARCHAR" property="serverCategory" />
    <result column="SERVER_PROTOCOL" jdbcType="VARCHAR" property="serverProtocol" />
    <result column="SERVER_NAME" jdbcType="VARCHAR" property="serverName" />
    <result column="PUSH_DATE" jdbcType="DATE" property="pushDate" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="SERVER_OPEN" jdbcType="VARCHAR" property="serverOpen" />
    <result column="SERVER_DESC" jdbcType="VARCHAR" property="serverDesc" />
    <result column="HANDLER_CLASS" jdbcType="VARCHAR" property="handlerClass" />
    <result column="HANDLER_METHOD" jdbcType="VARCHAR" property="handlerMethod" />
    <result column="PARA_NAME1" jdbcType="VARCHAR" property="paraName1" />
    <result column="PARA_NAME2" jdbcType="VARCHAR" property="paraName2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SERVER_ID, SERVER_CATEGORY, SERVER_PROTOCOL, SERVER_NAME, PUSH_DATE, UPDATE_DATE, 
    SERVER_OPEN, SERVER_DESC, HANDLER_CLASS, HANDLER_METHOD, PARA_NAME1, PARA_NAME2
  </sql>
  <select id="selectByExample" parameterType="com.urt.po.mno.LaoMnoProvideServerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LAO_MNO_PROVIDE_SERVER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAO_MNO_PROVIDE_SERVER
    where SERVER_ID = #{serverId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from LAO_MNO_PROVIDE_SERVER
    where SERVER_ID = #{serverId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.urt.po.mno.LaoMnoProvideServerExample">
    delete from LAO_MNO_PROVIDE_SERVER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.urt.po.mno.LaoMnoProvideServer">
    insert into LAO_MNO_PROVIDE_SERVER (SERVER_ID, SERVER_CATEGORY, SERVER_PROTOCOL, 
      SERVER_NAME, PUSH_DATE, UPDATE_DATE, 
      SERVER_OPEN, SERVER_DESC, HANDLER_CLASS, 
      HANDLER_METHOD, PARA_NAME1, PARA_NAME2
      )
    values (#{serverId,jdbcType=DECIMAL}, #{serverCategory,jdbcType=VARCHAR}, #{serverProtocol,jdbcType=VARCHAR}, 
      #{serverName,jdbcType=VARCHAR}, #{pushDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE}, 
      #{serverOpen,jdbcType=VARCHAR}, #{serverDesc,jdbcType=VARCHAR}, #{handlerClass,jdbcType=VARCHAR}, 
      #{handlerMethod,jdbcType=VARCHAR}, #{paraName1,jdbcType=VARCHAR}, #{paraName2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.mno.LaoMnoProvideServer">
    insert into LAO_MNO_PROVIDE_SERVER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serverId != null">
        SERVER_ID,
      </if>
      <if test="serverCategory != null">
        SERVER_CATEGORY,
      </if>
      <if test="serverProtocol != null">
        SERVER_PROTOCOL,
      </if>
      <if test="serverName != null">
        SERVER_NAME,
      </if>
      <if test="pushDate != null">
        PUSH_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="serverOpen != null">
        SERVER_OPEN,
      </if>
      <if test="serverDesc != null">
        SERVER_DESC,
      </if>
      <if test="handlerClass != null">
        HANDLER_CLASS,
      </if>
      <if test="handlerMethod != null">
        HANDLER_METHOD,
      </if>
      <if test="paraName1 != null">
        PARA_NAME1,
      </if>
      <if test="paraName2 != null">
        PARA_NAME2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serverId != null">
        #{serverId,jdbcType=DECIMAL},
      </if>
      <if test="serverCategory != null">
        #{serverCategory,jdbcType=VARCHAR},
      </if>
      <if test="serverProtocol != null">
        #{serverProtocol,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null">
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="pushDate != null">
        #{pushDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="serverOpen != null">
        #{serverOpen,jdbcType=VARCHAR},
      </if>
      <if test="serverDesc != null">
        #{serverDesc,jdbcType=VARCHAR},
      </if>
      <if test="handlerClass != null">
        #{handlerClass,jdbcType=VARCHAR},
      </if>
      <if test="handlerMethod != null">
        #{handlerMethod,jdbcType=VARCHAR},
      </if>
      <if test="paraName1 != null">
        #{paraName1,jdbcType=VARCHAR},
      </if>
      <if test="paraName2 != null">
        #{paraName2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.urt.po.mno.LaoMnoProvideServerExample" resultType="java.lang.Long">
    select count(*) from LAO_MNO_PROVIDE_SERVER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update LAO_MNO_PROVIDE_SERVER
    <set>
      <if test="record.serverId != null">
        SERVER_ID = #{record.serverId,jdbcType=DECIMAL},
      </if>
      <if test="record.serverCategory != null">
        SERVER_CATEGORY = #{record.serverCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.serverProtocol != null">
        SERVER_PROTOCOL = #{record.serverProtocol,jdbcType=VARCHAR},
      </if>
      <if test="record.serverName != null">
        SERVER_NAME = #{record.serverName,jdbcType=VARCHAR},
      </if>
      <if test="record.pushDate != null">
        PUSH_DATE = #{record.pushDate,jdbcType=DATE},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=DATE},
      </if>
      <if test="record.serverOpen != null">
        SERVER_OPEN = #{record.serverOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.serverDesc != null">
        SERVER_DESC = #{record.serverDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.handlerClass != null">
        HANDLER_CLASS = #{record.handlerClass,jdbcType=VARCHAR},
      </if>
      <if test="record.handlerMethod != null">
        HANDLER_METHOD = #{record.handlerMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.paraName1 != null">
        PARA_NAME1 = #{record.paraName1,jdbcType=VARCHAR},
      </if>
      <if test="record.paraName2 != null">
        PARA_NAME2 = #{record.paraName2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update LAO_MNO_PROVIDE_SERVER
    set SERVER_ID = #{record.serverId,jdbcType=DECIMAL},
      SERVER_CATEGORY = #{record.serverCategory,jdbcType=VARCHAR},
      SERVER_PROTOCOL = #{record.serverProtocol,jdbcType=VARCHAR},
      SERVER_NAME = #{record.serverName,jdbcType=VARCHAR},
      PUSH_DATE = #{record.pushDate,jdbcType=DATE},
      UPDATE_DATE = #{record.updateDate,jdbcType=DATE},
      SERVER_OPEN = #{record.serverOpen,jdbcType=VARCHAR},
      SERVER_DESC = #{record.serverDesc,jdbcType=VARCHAR},
      HANDLER_CLASS = #{record.handlerClass,jdbcType=VARCHAR},
      HANDLER_METHOD = #{record.handlerMethod,jdbcType=VARCHAR},
      PARA_NAME1 = #{record.paraName1,jdbcType=VARCHAR},
      PARA_NAME2 = #{record.paraName2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.mno.LaoMnoProvideServer">
    update LAO_MNO_PROVIDE_SERVER
    <set>
      <if test="serverCategory != null">
        SERVER_CATEGORY = #{serverCategory,jdbcType=VARCHAR},
      </if>
      <if test="serverProtocol != null">
        SERVER_PROTOCOL = #{serverProtocol,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null">
        SERVER_NAME = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="pushDate != null">
        PUSH_DATE = #{pushDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
      <if test="serverOpen != null">
        SERVER_OPEN = #{serverOpen,jdbcType=VARCHAR},
      </if>
      <if test="serverDesc != null">
        SERVER_DESC = #{serverDesc,jdbcType=VARCHAR},
      </if>
      <if test="handlerClass != null">
        HANDLER_CLASS = #{handlerClass,jdbcType=VARCHAR},
      </if>
      <if test="handlerMethod != null">
        HANDLER_METHOD = #{handlerMethod,jdbcType=VARCHAR},
      </if>
      <if test="paraName1 != null">
        PARA_NAME1 = #{paraName1,jdbcType=VARCHAR},
      </if>
      <if test="paraName2 != null">
        PARA_NAME2 = #{paraName2,jdbcType=VARCHAR},
      </if>
    </set>
    where SERVER_ID = #{serverId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.mno.LaoMnoProvideServer">
    update LAO_MNO_PROVIDE_SERVER
    set SERVER_CATEGORY = #{serverCategory,jdbcType=VARCHAR},
      SERVER_PROTOCOL = #{serverProtocol,jdbcType=VARCHAR},
      SERVER_NAME = #{serverName,jdbcType=VARCHAR},
      PUSH_DATE = #{pushDate,jdbcType=DATE},
      UPDATE_DATE = #{updateDate,jdbcType=DATE},
      SERVER_OPEN = #{serverOpen,jdbcType=VARCHAR},
      SERVER_DESC = #{serverDesc,jdbcType=VARCHAR},
      HANDLER_CLASS = #{handlerClass,jdbcType=VARCHAR},
      HANDLER_METHOD = #{handlerMethod,jdbcType=VARCHAR},
      PARA_NAME1 = #{paraName1,jdbcType=VARCHAR},
      PARA_NAME2 = #{paraName2,jdbcType=VARCHAR}
    where SERVER_ID = #{serverId,jdbcType=DECIMAL}
  </update>
</mapper>