<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.urt.mapper.ext.LaoSsAccountRolePoExtMapper" >
  <resultMap id="BaseResultMap" type="com.urt.po.LaoSsAccountRolePo" >
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select * from LAO_SS_ACCOUNT_ROLE
    where USER_ID = #{userId,jdbcType=DECIMAL}
      and ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
  <select id="queryListByUserId" parameterType="Long" resultMap="BaseResultMap">
  	select *
    from LAO_SS_ACCOUNT_ROLE
	where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <select id="queryListByRoleId" parameterType="Long" resultMap="BaseResultMap">
  	select *
    from LAO_SS_ACCOUNT_ROLE
	where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
</mapper>