@charset "utf-8";
/* CSS reset */
*{margin:0;padding:0}
input { filter:chroma(color=#000000);}
table{border-collapse:collapse}
html,fieldset,img{border:0}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;-webkit-tap-highlight-color:rgba(255,255,255,0);outline:none;resize:none;}
i,em{font-style:normal;}
* html input,* html textarea,* html select,*+html input,*+html textarea,*+html select{font-size:100%}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html.clearfix{height:1%}
.clear { clear: both; height: 0; font-size:0; line-height: 0; overflow: hidden; display: block; }
.clearfix{display:block}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.shadow{background:#666;box-shadow:0 0 4px 1px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 4px 1px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 0 4px 1px rgba(0, 0, 0, 0.5);filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=true,ShadowOpacity=0.3);_filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=true,ShadowOpacity=0.2);}
.mask{display:none;width:100%;height:100%;position:absolute;top:0;left:0;z-index:999;background:#000;opacity:0.4;filter:alpha(opacity=40);}
a{text-decoration:none}
a:focus{outline:none}
.fl{float:left}
.fr{float:right}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.pb20{padding-bottom:20px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.hide{display:none !important;}

html{width:100%;overflow-x:hidden;}
body{width:100%;background-color:#fff;font:12px "MicroSoft YaHei", Arial, sans-serif;color:#000;}
.centerBox{width:1200px;margin:0 auto;position:relative;}

.frontBanner{width:1200px;height:760px;position:relative;margin:0 auto;}
	.frontBanner ul{display:block;position:absolute;height:100%;width:1920px;left:50%;margin-left:-960px;}
	.frontBanner li{width:100%;height:100%;overflow:hidden;position:relative;}
	.frontBanner li img{width:100%;}
	.frontBannerNav{width:100px;position:absolute;bottom:20px;right:0;z-index:6;}
	.frontBannerNav a{display:inline-block;width:12px;height:12px;margin:0 2px;background:url(../images/banner_nav.png) no-repeat center center;text-indent:-9000px;}
	.frontBannerNav a.activeSlide{background:url(../images/banner_nav_1.png) no-repeat center center;}

.header{position:absolute;z-index:10;width:100%;padding-top:30px;overflow:hidden;}
.logo{display:inline-block;width:192px;height:33px;background:url(../images/logo.png) no-repeat center center;float:left;overflow:hidden;}
.nav{float:right;text-align:right;}
	.nav dt{display:inline-block;height:40px;line-height:40px;margin:0 26px;cursor:pointer;}
	.nav dt.selected, .nav dt.current{background:url(../images/nav_bg.png) no-repeat center bottom;}
	.nav dt a{display:inline-block;font-size:15px;color:#fff;text-decoration:none;}
	.nav dt.account{padding-left:26px;background:url(../images/icon_login.png) no-repeat left center;margin:0 0 0 72px;color:#fff;}
		.account .topLink{display:inline-block;font-size:15px;color:#fff;}
		.account .topLink:hover{text-decoration:underline;}
	.nav dt.account_1{margin:0 0 0 72px;color:#fff;vertical-align:middle;height:43px;}
		.account_1 .photo{position:relative;display:inline-block;width:42px;height:42px;overflow:hidden;background:url(../images/photo_default.png) center center no-repeat;border-radius:40px;vertical-align:middle;}
		.account_1 .acc{display:inline-block;font-size:15px;color:#fff;vertical-align:middle;}
		.account_1 .topLink{display:inline-block;font-size:15px;color:#fff;vertical-align:middle;}
		.account_1 .topLink:hover{text-decoration:underline;}
	.nav dd.pro{clear:both;padding-top:70px;height:170px;margin-right:-50px;position:relative;width:1012px;overflow:hidden;}
		.nav dd.pro a.arrowL, .nav dd.pro a.arrowR{display:inline-block;width:12px;height:26px;position:absolute;top:55%;margin-top:-13px;z-index:10;}
		.nav dd.pro a.arrowL{background:url(../images/arrow_2_l.png) no-repeat;left:20px;}
		.nav dd.pro a.arrowR{background:url(../images/arrow_2_r.png) no-repeat;right:20px;}
		.nav dd.pro .proInner{width:930px;margin:0 40px;overflow:hidden;}
		ul.proSlide{display:block;position:relative;height:170px;width:1012px;overflow:hidden;margin-left:-40px;}
		ul.proSlide li{width:1012px;height:170px;overflow:hidden;position:relative;}
		.nav dd.pro .elem{display:block;width:160px;height:170px;margin:0 20px;text-align:center;float:left;}
		.nav dd.pro .elem img{display:block;width:120px;height:120px;margin:0 auto;}
		.nav dd.pro .elem .title{display:block;height:50px;line-height:50px;font-size:13px;color:#999;}

	.nav dd.flow{clear:both;padding:32px 0 0 114px;height:50px;overflow:hidden;}
	.nav dd.flow a{display:inline-block;height:50px;line-height:50px;margin-right:52px;float:left;color:#999;font-size:15px;}
	.nav dd.flow a.selected{background:url(../images/nav_bg_1.png) no-repeat center bottom;color:#333;}
.header.bg01{background:#fff;border-bottom:1px solid #e7e7e7;}
.header.bg01 .logo{background:url(../images/logo_1.png) no-repeat center center;}
.header.bg01 dt a{color:#666;}
.header.bg01 dt.selected, .header.bg01 dt.current{background:url(../images/nav_bg_1.png) no-repeat center bottom;}
.header.bg01 dt.selected a, .header.bg01 dt.current a{color:#d4251f;}
.header.bg01 .nav dt.account{background:url(../images/icon_login_1.png) no-repeat left center;color:#666;}
.header.bg01 .nav dt.account_1{color:#666;}
.header.bg01 .nav dt.account_1 .acc{color:#666;}
.header.bg01 .nav dt.account_1 .topLink{color:#999;}
.header.bg02{}
.header.bg02 .logo{background:url(../images/logo_1.png) no-repeat center center;}
.header.bg02 dt a{color:#666;}
.header.bg02 dt.selected, .header.bg02 dt.current{background:url(../images/nav_bg_1.png) no-repeat center bottom;}
.header.bg02 dt.selected a, .header.bg02 dt.current a{color:#d4251f;}
.header.bg02 .nav dt.account{background:url(../images/icon_login_1.png) no-repeat left center;color:#666;}
.header.bg02 .nav dt.account_1{color:#666;}
.header.bg02 .nav dt.account_1 .acc{color:#666;}
.header.bg02 .nav dt.account_1 .topLink{color:#999;}

.slideBox{padding:86px 0 106px 0;overflow:hidden;background:#fff;width:1200px;margin:0 auto;}
.slideElem{width:524px;}
	.slideElem .title{height:24px;line-height:24px;overflow:hidden;margin-bottom:30px;}
	.slideElem .title .text{float:left;font-size:18px;color:#333;}
	.slideElem .arrow{float:right;}
	.slideElem .arrow a{display:inline-block;width:24px;height:24px;margin-left:14px;}
	.slideElem .arrow a.arrowL{background:url(../images/arrow_l.png) no-repeat;}
	.slideElem .arrow a.arrowR{background:url(../images/arrow_r.png) no-repeat;}
.slideElem ul{display:block;position:relative;height:103px;width:524px;overflow:hidden;}
	.slideElem ul li{width:564px;height:100%;overflow:hidden;position:relative;}
	.slideElem ul li a{display:block;width:148px;height:100%;float:left;margin:0 40px 0 0;}
	.slideElem ul li a .img{display:block;width:100%;height:100%;overflow:hidden;}
.slideElem.lianTong{float:left;}
.slideElem.yiDong{float:right;}

.starProBg{padding:40px 0 180px 0;background:#f8f8f8;}
.starPro{position:relative;width:1300px;left:50%;margin-left:-650px;}
	.starPro .title{height:130px;background:url(../images/title_1.png) center center no-repeat;}
	.starPro dd{position:relative;margin-top:77px;}
	.starPro a.arrowL, .starPro a.arrowR{display:inline-block;width:12px;height:26px;position:absolute;top:50%;margin-top:-13px;}
	.starPro a.arrowL{background:url(../images/arrow_2_l.png) no-repeat;left:-40px;}
	.starPro a.arrowR{background:url(../images/arrow_2_r.png) no-repeat;right:-40px;}
.starPro ul{display:block;position:relative;height:330px;width:100%;overflow:hidden;}
	.starPro ul li{width:100%;height:100%;overflow:hidden;position:relative;}
	.starPro ul li a{display:block;width:220px;height:100%;float:left;margin:0 20px;}
	.starPro ul li a .img{display:table-cell;width:100%;height:160px;overflow:hidden;text-align:center;vertical-align:middle;}
	.starPro ul li a .text01{display:block;text-align:center;margin:40px auto 16px;}
	.starPro ul li a .text01 b{display:inline-block;width:auto;height:24px;overflow:hidden;background:#d4251f;color:#fff;font-size:18px;font-weight:bold;line-height:24px;border-radius:4px;padding:0 6px;}
	.starPro ul li a .text02{display:block;height:24px;color:#333;font-size:15px;font-weight:bold;line-height:24px;text-align:center;}
	.starPro ul li a .text03{display:block;height:20px;color:#999;font-size:12px;line-height:20px;text-align:center;}
	.starPro ul li a .text04{display:block;height:50px;color:#d4251f;font-size:20px;font-weight:bold;line-height:50px;text-align:center;}

.footer{background:#333;}
.footer .logoBox{padding:38px 0;margin:0 auto;width:1200px;border-bottom:1px solid #666;height:74px;line-height:74px;overflow:hidden;}
.footer .logoBox .footLogo{width:192px;height:74px;float:left;background:url(../images/logo_2.png) center center no-repeat;}
.footer .logoBox .share{float:right;}
.footer .logoBox .sina{display:inline-block;padding-left:58px;background:url(../images/icon_sina.png) left center no-repeat;height:74px;line-height:74px;font-size:12px;color:#999;}
.footer .logoBox .qrcode01{display:inline-block;padding-left:88px;background:url(../images/qrcode_1.png) left center no-repeat;height:74px;line-height:74px;font-size:12px;color:#999;margin-left:50px;}
.footer .logoBox .qrcode02{display:inline-block;padding-left:88px;background:url(../images/qrcode_2.png) left center no-repeat;height:74px;line-height:74px;font-size:12px;color:#999;margin-left:50px;}
.footer .copyright{margin:0 auto;width:1200px;height:62px;line-height:62px;font-size:12px;color:#999;}

.proBanner{height:760px;background:url(../images/pro_banner_bg.jpg) left top repeat-x;}
	.proBanner .inner{width:1200px;height:760px;margin:0 auto;background:url(../images/pro_banner_1.jpg) 0 235px no-repeat;}
	.proBanner .text01{padding:266px 0 0 656px;line-height:126px;font-size:58px;color:#333;}
	.proBanner .text02{padding:0 0 0 656px;line-height:36px;font-size:22px;color:#666;}

.proTabs{margin:90px 0 75px 0;height:36px;overflow:hidden;border-bottom:1px solid #ccc;}
	.proTabs li{float:left;width:188px;position:relative;}
	.proTabs li b{display:block;height:18px;width:1px;background:#ddd;overflow:hidden;position:absolute;top:0;right:55px;}
	.proTabs li span{display:inline-block;height:34px;line-height:20px;font-size:20px;color:#333;cursor:pointer;}
	.proTabs li.selected span{color:#d4251f;border-bottom:2px solid #d4251f;}

.proInfo{margin-bottom:300px;}
	.proInfo .text01{line-height:88px;font-size:46px;color:#333;font-weight:bold;}
	.proInfo .text02{line-height:30px;font-size:18px;color:#333;}
	.proInfo .text03{line-height:30px;font-size:20px;color:#9a9a9a;}
	.proInfo a{color:#c9b69d;text-decoration:none;}
.pro_pro1_1{margin:130px 0 250px 0;height:480px;background:url(../images/pro_pro1_1.jpg) center center no-repeat;}
.pro_pro1_2{background:url(../images/pro_pro1_2.jpg) right top no-repeat;margin-bottom:270px;}
.pro_pro1_3{background:url(../images/pro_pro1_3.jpg) left center no-repeat;margin-bottom:210px;padding:120px 0 0 780px;height:270px;}
.pro_pro1_4{background:url(../images/pro_pro1_4.jpg) center bottom no-repeat;padding:0 0 450px 0;text-align:center;}
.proInfo .title01{line-height:56px;font-size:24px;color:#333;font-weight:bold;border-bottom:1px solid #e7e7e7;margin-bottom:26px;}
.proData{overflow:hidden;line-height:36px;font-size:18px;margin-bottom:46px;}
	.proData dt{float:left;clear:both;color:#333;width:170px;}
	.proData dd{float:left;color:#666;}
.proInfo .title02{line-height:60px;font-size:24px;color:#333;font-weight:bold;margin-top:30px;}
.proInfo .title03{line-height:44px;font-size:18px;color:#333;}
.proInfo .imgBox{min-height:200px;background:#f7f7f7;width:100%;margin:20px 0 50px;}
.proInfo .title04{line-height:60px;font-size:38px;color:#333;font-weight:bold;margin:100px 0 30px;border-bottom:1px solid #e7e7e7;}
.proInfo .title05{line-height:44px;font-size:22px;color:#333;margin-bottom:20px;}

.jihuo{padding-top:238px;}
.jihuo .title01{line-height:80px;font-size:38px;color:#333;font-weight:bold;border-bottom:1px solid #e7e7e7;text-align:center;margin-bottom:54px;}
.jihuoForm{width:392px;margin:0 auto 120px;}
.jihuoForm dt{line-height:42px;font-size:15px;color:#333;width:60px;float:left;}
.jihuoForm dd{margin-bottom:10px;float:left;}
.jihuoForm input{border:1px solid #e7e7e7;height:20px;line-height:20px;font-size:15px;padding:10px 5px;display:block;width:320px;}
.jihuoForm select{border:1px solid #e7e7e7;height:40px;line-height:40px;font-size:15px;padding:0 5px;display:block;width:332px;}
.jihuoForm dt.agree{line-height:20px;font-size:15px;color:#333;padding-top:28px;clear:both;float:none;width:auto;}
.checkBox{display:inline-block;width:20px;height:20px;overflow:hidden;background:url(../images/checkbox.png) center center no-repeat;vertical-align:middle;margin-top:-3px;}
.checkBox.checked{background:url(../images/checkbox_1.png) center center no-repeat;}
.jihuoForm dt.agree .link{color:#d4251f;}
.jihuoForm .btnBox{clear:both;float:none;width:auto;}
.jihuoForm a.btn{background:#d4251f;display:block;margin-top:60px;height:50px;line-height:50px;text-align:center;font-size:18px;color:#fff;border-radius:4px;}

.tipsPanel{margin:0 50px;padding:36px 0 190px;border-top:1px solid #e7e7e7;}
.tipsBox{padding:20px 25px;border:1px solid #d4251f;background:#fae7e6;line-height:24px;font-size:12px;color:#d4251f;}


.flowBanner{height:760px;background:url(../images/pro_banner_bg.jpg) left top repeat-x;}
	.flowBanner table{width:100%;border-collapse:collapse;}
	.flowBanner .inner{width:1200px;padding-top:178px;margin:0 auto;}
	.flowBanner .text01{line-height:40px;font-size:16px;color:#333;}
	.flowBanner select{border:1px solid #e7e7e7;height:40px;line-height:40px;font-size:15px;padding:0 5px;display:block;width:390px;background:#fff;}
	.flowBanner input{border:1px solid #e7e7e7;height:40px;line-height:40px;font-size:15px;padding:0 5px;display:block;width:390px;background:#fff;}
	.flowBanner .dl{margin:65px 0 0;overflow:hidden;}
	.flowBanner .dl dt{float:left;width:468px;border-right:1px solid #e7e7e7;}
	.flowBanner .dl dd{float:left;padding-left:88px;}
	.flowBanner .text02{line-height:46px;font-size:25px;color:#333;}
	.flowBanner .text03 .sub{height:136px;line-height:136px;font-size:110px;color:#d74519;}
	.flowBanner .text03 {font-size:30px;}
	.flowBanner .text04{height:50px;line-height:50px;font-size:30px;color:#333;font-weight:bold;}
	.flowBanner .text05{height:50px;line-height:50px;font-size:26px;color:#444;margin-bottom:10px;}
	.flowBanner .text06{line-height:30px;font-size:16px;color:#777;}
	.flowBanner .text07{line-height:32px;font-size:16px;color:#777;}
	.flowBanner .btnBox{margin-top:76px;}
	.flowBanner .btn{margin-right:30px;display:inline-block;width:180px;height:50px;text-align:center;line-height:50px;font-size:16px;color:#666;background:#fff;border-radius:4px;border:1px solid #eee;}

.flowTabs{margin:90px 0 75px 0;height:36px;overflow:hidden;border-bottom:1px solid #ccc;}
	.flowTabs li{float:left;width:188px;position:relative;}
	.flowTabs li b{display:block;height:18px;width:1px;background:#ddd;overflow:hidden;position:absolute;top:0;right:55px;}
	.flowTabs li span{display:inline-block;height:34px;line-height:18px;font-size:18px;color:#333;cursor:pointer;}
	.flowTabs li.selected span{color:#d4251f;border-bottom:2px solid #d4251f;}
.flowInfo{margin-bottom:170px;overflow:hidden;}
.flowInfo .search{margin-bottom:46px;overflow:hidden;}
.flowInfo .search span{float:left;height:42px;line-height:42px;font-size:14px;display:inline-block;color:#666;vertical-align:middle;}
.flowInfo .search input{float:left;border:1px solid #e7e7e7;height:20px;line-height:20px;font-size:14px;padding:10px 5px;display:block;width:400px;vertical-align:middle;background:url(../images/icon_date.png) 375px center no-repeat;}
.flowInfo .search .btn{float:left;margin-left:30px;display:inline-block;width:140px;height:40px;text-align:center;line-height:40px;font-size:14px;color:#666;background:#f6f6f6;border-radius:4px;border:1px solid #eee;vertical-align:middle;}
.flowTable input.btn{margin-left:5px;display:inline-block;width:60px;height:30px;text-align:center;font-size:14px;color:#666;background:#fff;border-radius:4px;border:1px solid #eee;vertical-align:middle;}
.flowTable{width:100%;border-collapse:collapse;}
	.flowTable th{height:66px;border:1px solid #e7e7e7;text-align:center;vertical-align:middle;background:#f6f6f6;color:#999;}
	.flowTable td{height:66px;border:1px solid #e7e7e7;text-align:center;vertical-align:middle;color:#333;position:relative;}
	.flowTable .btn_info{position:absolute;top:22px;right:12px;display:block;width:24px;height:24px;background:url(../images/icon_info.png) no-repeat;}
	.flowTable .btn_info:hover, .flowTable .btn_info.selected{background:url(../images/icon_info_1.png) no-repeat;}

.dialog{position:fixed;z-index:100;width:720px;height:586px;top:50%;left:50%;margin:-300px 0 0 -360px;border-radius:6px;overflow:hidden;box-shadow:0 0 20px 0 rgba(0,0,0,.4);background:#fff;}
	.dialog dt{background:#d63a1b;height:76px;line-height:76px;font-size:26px;color:#fff;padding:0 32px;}
	.dialog .close{position:absolute;top:26px;right:26px;width:24px;height:24px;background:url(../images/icon_close.png) center center no-repeat;}
	.dialog .close:hover{background:url(../images/icon_close_1.png) center center no-repeat;}
	.dialog dd{padding:0 32px;}
	.dialog .text01{height:72px;line-height:72px;font-size:16px;color:#333;border-bottom:1px solid #ddd;}
.dialog.agreeDialog{width:900px;height:640px;margin:-320px 0 0 -450px;}
	.dialog.agreeDialog dd{height:564px;overflow-y:auto;}
	.dialog.agreeDialog dd p{line-height:26px;font-size:14px;color:#666;margin:20px 0;}
	.dialog.agreeDialog dd p strong{font-size:15px;color:#333;}

.chongzhi{padding-top:238px;}
.chongzhi .title01{line-height:80px;font-size:38px;color:#333;font-weight:bold;border-bottom:1px solid #e7e7e7;text-align:left;margin-bottom:36px;}
.chongzhi select{border:1px solid #e7e7e7;height:40px;line-height:40px;font-size:15px;padding:0 5px;width:332px;vertical-align:middle;}
.radio{display:inline-block;width:20px;height:20px;overflow:hidden;background:url(../images/radio.png) center center no-repeat;vertical-align:middle;}
.radio input{margin-top:100px;}
.radio.checked{background:url(../images/radio_1.png) center center no-repeat;}
.chongzhi .btnBox{text-align:right;margin:50px 0;}
.chongzhi a.btn_chongzhi{background:#d4251f;display:inline-block;height:50px;line-height:50px;text-align:center;font-size:18px;color:#fff;border-radius:4px;width:220px;}
.chongzhi .text01{line-height:80px;font-size:24px;color:#333;}
.chongzhi .text01 span{color:#d4251f;font-weight:bold;}
.chongzhi .text02{line-height:36px;font-size:16px;color:#333;}
.chongzhi .text02 .tit{display:block;float:left;width:auto;margin-right:20px;}
.chongzhi .text02 select{float:left;margin-right:30px;}
.chongzhi .text02 .tips{float:left;line-height:40px;font-size:12px;color:#999;vertical-align:middle;}
.chongzhi .text03{overflow:hidden;}
.chongzhi .text03 select{float:left;margin-right:30px;}
.chongzhi .text03 .tips{float:left;line-height:40px;font-size:12px;color:#999;vertical-align:middle;}
.chongzhi .text04{overflow:hidden;margin-top:64px;padding:64px 0;border-top:1px dashed #e7e7e7;border-bottom:1px dashed #e7e7e7;}
.chongzhi .text04 th, .chongzhi .text04 td{text-align:center;vertical-align:middle;height:56px;padding-right:90px;position:relative;}
.chongzhi .text04 th .cardSelect{position:absolute;top:0;left:0;display:none;width:147px;height:103px;background:url(../images/card_select_1.png) no-repeat;}
.chongzhi .text04 th:last-child .cardSelect{background:url(../images/card_select.png) no-repeat;}
.chongzhi .text04 th.selected .cardSelect{display:block;}
.chongzhi .text04 dd{font-size:60px;color:#333;padding-top:30px;line-height:60px;}
.chongzhi .text04 dd .sub{font-size:20px;color:#999;vertical-align:middle;}

.pinpai{padding:238px 0;}
.pinpai .title01{font-size:32px;line-height:40px;margin-bottom:40px;color:#333;}
.pinpai .text01{font-size:14px;line-height:32px;color:#333;font-weight:bold;}
.pinpai .text02{font-size:14px;line-height:32px;margin-bottom:30px;color:#666;}

.contact{padding:238px 0;}
.contact .title01{font-size:34px;line-height:50px;margin-bottom:100px;color:#333;text-align:center;}
.contact{overflow:hidden;}
.contact dd{float:left;width:50%;height:200px;padding-top:180px;text-align:center;}
.contact .text01{font-size:22px;line-height:36px;color:#333;font-weight:bold;}
.contact .text02{font-size:14px;line-height:30px;color:#666;}
.contact .d1{background:url(../images/icon_about_1.png) center 30px no-repeat;}
.contact .d2{background:url(../images/icon_about_2.png) center 30px no-repeat;border-left:1px solid #e7e7e7;margin-left:-1px;}
.contact .d3{height:110px;padding-top:270px;background:url(../images/icon_about_3.png) center 120px no-repeat;border-top:1px solid #e7e7e7;}
.contact .d4{height:110px;padding-top:270px;background:url(../images/icon_about_4.png) center 120px no-repeat;border-top:1px solid #e7e7e7;border-left:1px solid #e7e7e7;margin-left:-1px;}




