<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.urt.mapper.ext.LaoPoolMemberExtMapper" >
  <resultMap id="BaseResultMap" type="com.urt.po.LaoPoolMember" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="EID" property="eid" jdbcType="VARCHAR" />
    <result column="POOL_ID" property="poolId" jdbcType="VARCHAR" />
    <result column="MSISDN" property="msisdn" jdbcType="VARCHAR" />
    <result column="ICCID" property="iccid" jdbcType="VARCHAR" />
    <result column="IN_MONTH" property="inMonth" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF_ID" property="updateStaffId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EID, POOL_ID, MSISDN, ICCID, IN_MONTH, UPDATE_TIME, UPDATE_STAFF_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from LAO_POOL_MEMBER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LAO_POOL_MEMBER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.LaoPoolMember" >
    insert into LAO_POOL_MEMBER (ID, EID, POOL_ID, 
      MSISDN, ICCID, IN_MONTH, 
      UPDATE_TIME, UPDATE_STAFF_ID)
    values (#{id,jdbcType=DECIMAL}, #{eid,jdbcType=VARCHAR}, #{poolId,jdbcType=VARCHAR}, 
      #{msisdn,jdbcType=VARCHAR}, #{iccid,jdbcType=VARCHAR}, #{inMonth,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateStaffId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.LaoPoolMember" >
    insert into LAO_POOL_MEMBER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="eid != null" >
        EID,
      </if>
      <if test="poolId != null" >
        POOL_ID,
      </if>
      <if test="msisdn != null" >
        MSISDN,
      </if>
      <if test="iccid != null" >
        ICCID,
      </if>
      <if test="inMonth != null" >
        IN_MONTH,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=VARCHAR},
      </if>
      <if test="poolId != null" >
        #{poolId,jdbcType=VARCHAR},
      </if>
      <if test="msisdn != null" >
        #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null" >
        #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="inMonth != null" >
        #{inMonth,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaffId != null" >
        #{updateStaffId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.LaoPoolMember" >
    update LAO_POOL_MEMBER
    <set >
      <if test="eid != null" >
        EID = #{eid,jdbcType=VARCHAR},
      </if>
      <if test="poolId != null" >
        POOL_ID = #{poolId,jdbcType=VARCHAR},
      </if>
      <if test="msisdn != null" >
        MSISDN = #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null" >
        ICCID = #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="inMonth != null" >
        IN_MONTH = #{inMonth,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID = #{updateStaffId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.LaoPoolMember" >
    update LAO_POOL_MEMBER
    set EID = #{eid,jdbcType=VARCHAR},
      POOL_ID = #{poolId,jdbcType=VARCHAR},
      MSISDN = #{msisdn,jdbcType=VARCHAR},
      ICCID = #{iccid,jdbcType=VARCHAR},
      IN_MONTH = #{inMonth,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF_ID = #{updateStaffId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
   <select id="queryMenberInfoMethod" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from lao_pool_member a  where 1=1  
		<if test="params.param.poolId != null and params.param.poolId !='' ">
			and POOL_ID = #{params.param.poolId, jdbcType=VARCHAR}
		</if> 
		<if test="params.param.iccid != null and params.param.iccid !='' ">
			and ICCID = #{params.param.iccid, jdbcType=VARCHAR}
		</if> 
		<if test="params.param.msisdn != null and params.param.msisdn !='' ">
			and MSISDN = #{params.param.msisdn, jdbcType=VARCHAR}
		</if> 
		order by update_time desc
	</select>
</mapper>