<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.urt.mapper.ext.ServiceStatusChgExtMapper">
  <resultMap id="BaseResultMap" type="com.urt.po.ServiceStatusChg">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TRADE_TYPE_CODE" jdbcType="VARCHAR" property="tradeTypeCode" />
    <result column="OLD_STATE_CODE" jdbcType="VARCHAR" property="oldStateCode" />
    <result column="NEW_STATE_CODE" jdbcType="VARCHAR" property="newStateCode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TRADE_TYPE_CODE, OLD_STATE_CODE, NEW_STATE_CODE
  </sql>
  <select id="selectByTradeTypeCode" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAO_SERVICE_STATUS_CHG
    where TRADE_TYPE_CODE = #{tradeTypeCode,jdbcType=VARCHAR}
    and OLD_STATE_CODE = #{oldStateCode,jdbcType=VARCHAR}
  </select>
  
   <select id="getTypeCode" resultType="java.lang.String">
   		select trade_type_code from lao_service_status_chg group by trade_type_code
   </select>
</mapper>