<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urt.mapper.ImeiLibraryMapper">
  <resultMap id="BaseResultMap" type="com.urt.po.ImeiLibrary">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, IMEI
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAO_IMEI_LIBRARY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
   <!--条件查询-->
  <select id="doQueryFirst"  parameterType="java.lang.String" resultMap="BaseResultMap">
 	select 
    <include refid="Base_Column_List" />
   	from LAO_IMEI_LIBRARY where imei = #{iccid} and ROWNUM =1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from LAO_IMEI_LIBRARY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.ImeiLibrary">
    insert into LAO_IMEI_LIBRARY (ID, IMEI)
    values (#{id,jdbcType=DECIMAL}, #{imei,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.ImeiLibrary">
    insert into LAO_IMEI_LIBRARY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="imei != null">
        IMEI,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.ImeiLibrary">
    update LAO_IMEI_LIBRARY
    <set>
      <if test="imei != null">
        IMEI = #{imei,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.ImeiLibrary">
    update LAO_IMEI_LIBRARY
    set IMEI = #{imei,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>