<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.urt.mapper.LaoExcpDefMapper" >
  <resultMap id="BaseResultMap" type="com.urt.po.LaoExcpDef" >
    <id column="EXCP_TYPE_CODE" property="excpTypeCode" jdbcType="DECIMAL" />
    <result column="EXCP_NAME" property="excpName" jdbcType="VARCHAR" />
    <result column="EXCP_DESC" property="excpDesc" jdbcType="VARCHAR" />
    <result column="TRADE_TYPE_CODE" property="tradeTypeCode" jdbcType="DECIMAL" />
    <result column="EXCP_TAG" property="excpTag" jdbcType="CHAR" />
    <result column="EXCP_LEVEL" property="excpLevel" jdbcType="VARCHAR" />
    <result column="DO_TAG" property="doTag" jdbcType="CHAR" />
    <result column="DO_TYPE" property="doType" jdbcType="CHAR" />
    <result column="DO_CLASS" property="doClass" jdbcType="VARCHAR" />
    <result column="DO_FUNC" property="doFunc" jdbcType="VARCHAR" />
    <result column="DO_TIMES" property="doTimes" jdbcType="DECIMAL" />
    <result column="CALLBACK__CLASS" property="callbackClass" jdbcType="VARCHAR" />
    <result column="CALLBACK_FUNC" property="callbackFunc" jdbcType="VARCHAR" />
    <result column="NEXT_CODE" property="nextCode" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EXCP_TYPE_CODE, EXCP_NAME, EXCP_DESC, TRADE_TYPE_CODE, EXCP_TAG, EXCP_LEVEL, DO_TAG, 
    DO_TYPE, DO_CLASS, DO_FUNC, DO_TIMES, CALLBACK__CLASS, CALLBACK_FUNC, NEXT_CODE, 
    UPDATE_TIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from LAO_EXCP_DEF
    where EXCP_TYPE_CODE = #{excpTypeCode,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from LAO_EXCP_DEF
    where EXCP_TYPE_CODE = #{excpTypeCode,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.LaoExcpDef" >
    insert into LAO_EXCP_DEF (EXCP_TYPE_CODE, EXCP_NAME, EXCP_DESC, 
      TRADE_TYPE_CODE, EXCP_TAG, EXCP_LEVEL, 
      DO_TAG, DO_TYPE, DO_CLASS, DO_FUNC, 
      DO_TIMES, CALLBACK__CLASS, CALLBACK_FUNC, 
      NEXT_CODE, UPDATE_TIME, REMARK
      )
    values (#{excpTypeCode,jdbcType=DECIMAL}, #{excpName,jdbcType=VARCHAR}, #{excpDesc,jdbcType=VARCHAR}, 
      #{tradeTypeCode,jdbcType=DECIMAL}, #{excpTag,jdbcType=CHAR}, #{excpLevel,jdbcType=VARCHAR}, 
      #{doTag,jdbcType=CHAR}, #{doType,jdbcType=CHAR}, #{doClass,jdbcType=VARCHAR}, #{doFunc,jdbcType=VARCHAR}, 
      #{doTimes,jdbcType=DECIMAL}, #{callbackClass,jdbcType=VARCHAR}, #{callbackFunc,jdbcType=VARCHAR}, 
      #{nextCode,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.LaoExcpDef" >
    insert into LAO_EXCP_DEF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="excpTypeCode != null" >
        EXCP_TYPE_CODE,
      </if>
      <if test="excpName != null" >
        EXCP_NAME,
      </if>
      <if test="excpDesc != null" >
        EXCP_DESC,
      </if>
      <if test="tradeTypeCode != null" >
        TRADE_TYPE_CODE,
      </if>
      <if test="excpTag != null" >
        EXCP_TAG,
      </if>
      <if test="excpLevel != null" >
        EXCP_LEVEL,
      </if>
      <if test="doTag != null" >
        DO_TAG,
      </if>
      <if test="doType != null" >
        DO_TYPE,
      </if>
      <if test="doClass != null" >
        DO_CLASS,
      </if>
      <if test="doFunc != null" >
        DO_FUNC,
      </if>
      <if test="doTimes != null" >
        DO_TIMES,
      </if>
      <if test="callbackClass != null" >
        CALLBACK__CLASS,
      </if>
      <if test="callbackFunc != null" >
        CALLBACK_FUNC,
      </if>
      <if test="nextCode != null" >
        NEXT_CODE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="excpTypeCode != null" >
        #{excpTypeCode,jdbcType=DECIMAL},
      </if>
      <if test="excpName != null" >
        #{excpName,jdbcType=VARCHAR},
      </if>
      <if test="excpDesc != null" >
        #{excpDesc,jdbcType=VARCHAR},
      </if>
      <if test="tradeTypeCode != null" >
        #{tradeTypeCode,jdbcType=DECIMAL},
      </if>
      <if test="excpTag != null" >
        #{excpTag,jdbcType=CHAR},
      </if>
      <if test="excpLevel != null" >
        #{excpLevel,jdbcType=VARCHAR},
      </if>
      <if test="doTag != null" >
        #{doTag,jdbcType=CHAR},
      </if>
      <if test="doType != null" >
        #{doType,jdbcType=CHAR},
      </if>
      <if test="doClass != null" >
        #{doClass,jdbcType=VARCHAR},
      </if>
      <if test="doFunc != null" >
        #{doFunc,jdbcType=VARCHAR},
      </if>
      <if test="doTimes != null" >
        #{doTimes,jdbcType=DECIMAL},
      </if>
      <if test="callbackClass != null" >
        #{callbackClass,jdbcType=VARCHAR},
      </if>
      <if test="callbackFunc != null" >
        #{callbackFunc,jdbcType=VARCHAR},
      </if>
      <if test="nextCode != null" >
        #{nextCode,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.LaoExcpDef" >
    update LAO_EXCP_DEF
    <set >
      <if test="excpName != null" >
        EXCP_NAME = #{excpName,jdbcType=VARCHAR},
      </if>
      <if test="excpDesc != null" >
        EXCP_DESC = #{excpDesc,jdbcType=VARCHAR},
      </if>
      <if test="tradeTypeCode != null" >
        TRADE_TYPE_CODE = #{tradeTypeCode,jdbcType=DECIMAL},
      </if>
      <if test="excpTag != null" >
        EXCP_TAG = #{excpTag,jdbcType=CHAR},
      </if>
      <if test="excpLevel != null" >
        EXCP_LEVEL = #{excpLevel,jdbcType=VARCHAR},
      </if>
      <if test="doTag != null" >
        DO_TAG = #{doTag,jdbcType=CHAR},
      </if>
      <if test="doType != null" >
        DO_TYPE = #{doType,jdbcType=CHAR},
      </if>
      <if test="doClass != null" >
        DO_CLASS = #{doClass,jdbcType=VARCHAR},
      </if>
      <if test="doFunc != null" >
        DO_FUNC = #{doFunc,jdbcType=VARCHAR},
      </if>
      <if test="doTimes != null" >
        DO_TIMES = #{doTimes,jdbcType=DECIMAL},
      </if>
      <if test="callbackClass != null" >
        CALLBACK__CLASS = #{callbackClass,jdbcType=VARCHAR},
      </if>
      <if test="callbackFunc != null" >
        CALLBACK_FUNC = #{callbackFunc,jdbcType=VARCHAR},
      </if>
      <if test="nextCode != null" >
        NEXT_CODE = #{nextCode,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where EXCP_TYPE_CODE = #{excpTypeCode,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.LaoExcpDef" >
    update LAO_EXCP_DEF
    set EXCP_NAME = #{excpName,jdbcType=VARCHAR},
      EXCP_DESC = #{excpDesc,jdbcType=VARCHAR},
      TRADE_TYPE_CODE = #{tradeTypeCode,jdbcType=DECIMAL},
      EXCP_TAG = #{excpTag,jdbcType=CHAR},
      EXCP_LEVEL = #{excpLevel,jdbcType=VARCHAR},
      DO_TAG = #{doTag,jdbcType=CHAR},
      DO_TYPE = #{doType,jdbcType=CHAR},
      DO_CLASS = #{doClass,jdbcType=VARCHAR},
      DO_FUNC = #{doFunc,jdbcType=VARCHAR},
      DO_TIMES = #{doTimes,jdbcType=DECIMAL},
      CALLBACK__CLASS = #{callbackClass,jdbcType=VARCHAR},
      CALLBACK_FUNC = #{callbackFunc,jdbcType=VARCHAR},
      NEXT_CODE = #{nextCode,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where EXCP_TYPE_CODE = #{excpTypeCode,jdbcType=DECIMAL}
  </update>
</mapper>