<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urt.mapper.TradeFeeSubMapper">
  <resultMap id="BaseResultMap" type="com.urt.po.TradeFeeSub">
    <id column="TRADE_ID" jdbcType="DECIMAL" property="tradeId" />
    <id column="ACCEPT_MONTH" jdbcType="DECIMAL" property="acceptMonth" />
    <id column="GOODS_ID" jdbcType="DECIMAL" property="goodsId" />
    <result column="OLDFEE" jdbcType="VARCHAR" property="oldfee" />
    <result column="FEE" jdbcType="VARCHAR" property="fee" />
    <result column="DISCONT_ID" jdbcType="DECIMAL" property="discontId" />
    <result column="DERATE_REMARK" jdbcType="VARCHAR" property="derateRemark" />
    <result column="CALCULATE_TAG" jdbcType="CHAR" property="calculateTag" />
    <result column="PAY_TAG" jdbcType="CHAR" property="payTag" />
    <result column="PAY_ORDER_ID" jdbcType="VARCHAR" property="payOrderId" />
    <result column="PAY_DATE" jdbcType="TIMESTAMP" property="payDate" />
    <result column="FEE_STAFF_ID" jdbcType="CHAR" property="feeStaffId" />
    <result column="PAY_TYPE" jdbcType="CHAR" property="payType" />
    <result column="ACCEPT_DATE" jdbcType="TIMESTAMP" property="acceptDate" />
  </resultMap>
  <sql id="Base_Column_List">
    TRADE_ID, ACCEPT_MONTH, GOODS_ID, OLDFEE, FEE, DISCONT_ID, DERATE_REMARK, CALCULATE_TAG, 
    PAY_TAG, PAY_ORDER_ID, PAY_DATE, FEE_STAFF_ID, PAY_TYPE, ACCEPT_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAO_TRADEFEE_SUB
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from LAO_TRADEFEE_SUB
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.urt.po.TradeFeeSub">
    insert into LAO_TRADEFEE_SUB (TRADE_ID, ACCEPT_MONTH, GOODS_ID, 
      OLDFEE, FEE, DISCONT_ID, 
      DERATE_REMARK, CALCULATE_TAG, PAY_TAG, 
      PAY_ORDER_ID, PAY_DATE, FEE_STAFF_ID, 
      PAY_TYPE, ACCEPT_DATE)
    values (#{tradeId,jdbcType=DECIMAL}, #{acceptMonth,jdbcType=DECIMAL}, #{goodsId,jdbcType=DECIMAL}, 
      #{oldfee,jdbcType=VARCHAR}, #{fee,jdbcType=VARCHAR}, #{discontId,jdbcType=DECIMAL}, 
      #{derateRemark,jdbcType=VARCHAR}, #{calculateTag,jdbcType=CHAR}, #{payTag,jdbcType=CHAR}, 
      #{payOrderId,jdbcType=DECIMAL}, #{payDate,jdbcType=TIMESTAMP}, #{feeStaffId,jdbcType=CHAR}, 
      #{payType,jdbcType=CHAR}, #{acceptDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.TradeFeeSub">
    insert into LAO_TRADEFEE_SUB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeId != null">
        TRADE_ID,
      </if>
      <if test="acceptMonth != null">
        ACCEPT_MONTH,
      </if>
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="oldfee != null">
        OLDFEE,
      </if>
      <if test="fee != null">
        FEE,
      </if>
      <if test="discontId != null">
        DISCONT_ID,
      </if>
      <if test="derateRemark != null">
        DERATE_REMARK,
      </if>
      <if test="calculateTag != null">
        CALCULATE_TAG,
      </if>
      <if test="payTag != null">
        PAY_TAG,
      </if>
      <if test="payOrderId != null">
        PAY_ORDER_ID,
      </if>
      <if test="payDate != null">
        PAY_DATE,
      </if>
      <if test="feeStaffId != null">
        FEE_STAFF_ID,
      </if>
      <if test="payType != null">
        PAY_TYPE,
      </if>
      <if test="acceptDate != null">
        ACCEPT_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeId != null">
        #{tradeId,jdbcType=DECIMAL},
      </if>
      <if test="acceptMonth != null">
        #{acceptMonth,jdbcType=DECIMAL},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=DECIMAL},
      </if>
      <if test="oldfee != null">
        #{oldfee,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=VARCHAR},
      </if>
      <if test="discontId != null">
        #{discontId,jdbcType=DECIMAL},
      </if>
      <if test="derateRemark != null">
        #{derateRemark,jdbcType=VARCHAR},
      </if>
      <if test="calculateTag != null">
        #{calculateTag,jdbcType=CHAR},
      </if>
      <if test="payTag != null">
        #{payTag,jdbcType=CHAR},
      </if>
      <if test="payOrderId != null">
        #{payOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="feeStaffId != null">
        #{feeStaffId,jdbcType=CHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=CHAR},
      </if>
      <if test="acceptDate != null">
        #{acceptDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.TradeFeeSub">
    update LAO_TRADEFEE_SUB
    <set>
      <if test="oldfee != null">
        OLDFEE = #{oldfee,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        FEE = #{fee,jdbcType=VARCHAR},
      </if>
      <if test="discontId != null">
        DISCONT_ID = #{discontId,jdbcType=DECIMAL},
      </if>
      <if test="derateRemark != null">
        DERATE_REMARK = #{derateRemark,jdbcType=VARCHAR},
      </if>
      <if test="calculateTag != null">
        CALCULATE_TAG = #{calculateTag,jdbcType=CHAR},
      </if>
      <if test="payTag != null">
        PAY_TAG = #{payTag,jdbcType=CHAR},
      </if>
      <if test="payOrderId != null">
        PAY_ORDER_ID = #{payOrderId,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="feeStaffId != null">
        FEE_STAFF_ID = #{feeStaffId,jdbcType=CHAR},
      </if>
      <if test="payType != null">
        PAY_TYPE = #{payType,jdbcType=CHAR},
      </if>
      <if test="acceptDate != null">
        ACCEPT_DATE = #{acceptDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.TradeFeeSub">
    update LAO_TRADEFEE_SUB
    set OLDFEE = #{oldfee,jdbcType=VARCHAR},
      FEE = #{fee,jdbcType=VARCHAR},
      DISCONT_ID = #{discontId,jdbcType=DECIMAL},
      DERATE_REMARK = #{derateRemark,jdbcType=VARCHAR},
      CALCULATE_TAG = #{calculateTag,jdbcType=CHAR},
      PAY_TAG = #{payTag,jdbcType=CHAR},
      PAY_ORDER_ID = #{payOrderId,jdbcType=VARCHAR},
      PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
      FEE_STAFF_ID = #{feeStaffId,jdbcType=CHAR},
      PAY_TYPE = #{payType,jdbcType=CHAR},
      ACCEPT_DATE = #{acceptDate,jdbcType=TIMESTAMP}
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </update>
</mapper>