<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urt.mapper.TradeSvcStateMapper">
  <resultMap id="BaseResultMap" type="com.urt.po.TradeSvcState">
    <id column="TRADE_ID" jdbcType="DECIMAL" property="tradeId" />
    <id column="ACCEPT_MONTH" jdbcType="DECIMAL" property="acceptMonth" />
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <id column="SERVICE_ID" jdbcType="DECIMAL" property="serviceId" />
    <id column="STATE_CODE" jdbcType="CHAR" property="stateCode" />
    <id column="MODIFY_TAG" jdbcType="CHAR" property="modifyTag" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="ACCEPT_DATE" jdbcType="TIMESTAMP" property="acceptDate" />
  </resultMap>
  <sql id="Base_Column_List">
    TRADE_ID, ACCEPT_MONTH, USER_ID, SERVICE_ID, STATE_CODE, MODIFY_TAG, START_DATE, 
    END_DATE, ACCEPT_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAO_TRADE_SVCSTATE
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and USER_ID = #{userId,jdbcType=DECIMAL}
      and SERVICE_ID = #{serviceId,jdbcType=DECIMAL}
      and STATE_CODE = #{stateCode,jdbcType=CHAR}
      and MODIFY_TAG = #{modifyTag,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from LAO_TRADE_SVCSTATE
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and USER_ID = #{userId,jdbcType=DECIMAL}
      and SERVICE_ID = #{serviceId,jdbcType=DECIMAL}
      and STATE_CODE = #{stateCode,jdbcType=CHAR}
      and MODIFY_TAG = #{modifyTag,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.urt.po.TradeSvcState">
    insert into LAO_TRADE_SVCSTATE (TRADE_ID, ACCEPT_MONTH, USER_ID, 
      SERVICE_ID, STATE_CODE, MODIFY_TAG, 
      START_DATE, END_DATE, ACCEPT_DATE
      )
    values (#{tradeId,jdbcType=DECIMAL}, #{acceptMonth,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, 
      #{serviceId,jdbcType=DECIMAL}, #{stateCode,jdbcType=CHAR}, #{modifyTag,jdbcType=CHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{acceptDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.urt.po.TradeSvcState">
    insert into LAO_TRADE_SVCSTATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeId != null">
        TRADE_ID,
      </if>
      <if test="acceptMonth != null">
        ACCEPT_MONTH,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="serviceId != null">
        SERVICE_ID,
      </if>
      <if test="stateCode != null">
        STATE_CODE,
      </if>
      <if test="modifyTag != null">
        MODIFY_TAG,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="acceptDate != null">
        ACCEPT_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeId != null">
        #{tradeId,jdbcType=DECIMAL},
      </if>
      <if test="acceptMonth != null">
        #{acceptMonth,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=DECIMAL},
      </if>
      <if test="stateCode != null">
        #{stateCode,jdbcType=CHAR},
      </if>
      <if test="modifyTag != null">
        #{modifyTag,jdbcType=CHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptDate != null">
        #{acceptDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.urt.po.TradeSvcState">
    update LAO_TRADE_SVCSTATE
    <set>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptDate != null">
        ACCEPT_DATE = #{acceptDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and USER_ID = #{userId,jdbcType=DECIMAL}
      and SERVICE_ID = #{serviceId,jdbcType=DECIMAL}
      and STATE_CODE = #{stateCode,jdbcType=CHAR}
      and MODIFY_TAG = #{modifyTag,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.urt.po.TradeSvcState">
    update LAO_TRADE_SVCSTATE
    set START_DATE = #{startDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      ACCEPT_DATE = #{acceptDate,jdbcType=TIMESTAMP}
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and USER_ID = #{userId,jdbcType=DECIMAL}
      and SERVICE_ID = #{serviceId,jdbcType=DECIMAL}
      and STATE_CODE = #{stateCode,jdbcType=CHAR}
      and MODIFY_TAG = #{modifyTag,jdbcType=CHAR}
  </update>
</mapper>